a {
    color: #2a2;
}
a:visited {
    color: #151;
}
a:hover {
    color: #3c3;
}

dt {
	padding: 4px;
}

dd {
    margin-bottom: .7em;
}

dd {
	margin-left: 4em;
	margin-right: 2em;
}

ul, ol {
    margin-top: .3em;
}

.gfxexample li {
    clear: left;
    padding-top: .7em;
}
.gfxexample li img {
    float: left;
    margin-right: .5em;
}
.gfxexample li div {
    margin-top: .2em;
    float: left;
}
.scriptonly {
    color: blue;
}
.scriptdiff {
    color: darkgoldenrod;
}
.scriptdeprec {
    color: gray;
}
.spacedol li {
    margin-bottom: .4em;
}
.checksums {
    margin-top: .3em;
    font-size: .7em;
}
